name: Build Android App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Clean and Get Packages
        run: |
          flutter clean
          flutter pub get

      # ✅ 1. إنشاء ملف خدمات جوجل باستخدام متغيرات البيئة (env) لضمان سلامة النص
      - name: Create google-services.json
        env:
          DATA: ${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}
        run: |
          echo $DATA | base64 -d > android/app/google-services.json

      # ✅ 2. إنشاء ملف التوقيع (Keystore) بأسلوبك الجديد (حل مشكلة Tag number over 30)
      - name: Decode Keystore
        env:
          KEYSTORE_DATA: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
        run: |
          echo $KEYSTORE_DATA | base64 -d > android/app/upload-keystore.jks

      # ✅ 3. بناء التطبيق مع تمرير الأسرار كمتغيرات بيئة مباشرة للمحرك
      - name: Build APK
        env:
          # تمرير البيانات لكي يقرأها ملف build.gradle.kts
          KEY_STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
